<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ImageDestinationPath" value="C:\Temp"/>
        <add key="IsKeepFolderStructure" value="false"/>
        <add key="LightroomProgramLocation" value="C:\Program Files\Adobe\Adobe Photoshop Lightroom 3.6\lightroom.exe"/>
    </appSettings>
</configuration>